insmod part_gpt
insmod fat
insmod search_label
insmod search_fs_uuid
insmod probe

search --no-floppy --label --set=root MASON_ARCH
probe --set=mason_uuid --fs-uuid ($root)

set mason_active_slot="a"
if [ -f /MASON-ARCH/state/active-slot.cfg ]; then
    source /MASON-ARCH/state/active-slot.cfg
fi
if [ "$mason_active_slot" = "b" ]; then
    set mason_other_slot="a"
else
    set mason_active_slot="a"
    set mason_other_slot="b"
fi

if loadfont /boot/grub/fonts/unicode.pf2; then
    insmod all_video
    set gfxmode=auto
    terminal_output console
fi

set default=0
set timeout=12
set timeout_style=menu

menuentry "Mason Arch installer - current cached slot" --class arch --id mason-current {
    if [ "$mason_active_slot" = "b" ]; then
        linux /arch-b/boot/x86_64/vmlinuz-linux archisobasedir=arch-b archisosearchuuid=$mason_uuid script=/run/archiso/bootmnt/MASON-ARCH/start.sh
        initrd /arch-b/boot/x86_64/initramfs-linux.img
    else
        linux /arch-a/boot/x86_64/vmlinuz-linux archisobasedir=arch-a archisosearchuuid=$mason_uuid script=/run/archiso/bootmnt/MASON-ARCH/start.sh
        initrd /arch-a/boot/x86_64/initramfs-linux.img
    fi
}

menuentry "Mason Arch installer - recovery slot" --class arch --id mason-recovery {
    if [ "$mason_other_slot" = "b" ]; then
        linux /arch-b/boot/x86_64/vmlinuz-linux archisobasedir=arch-b archisosearchuuid=$mason_uuid script=/run/archiso/bootmnt/MASON-ARCH/start.sh
        initrd /arch-b/boot/x86_64/initramfs-linux.img
    else
        linux /arch-a/boot/x86_64/vmlinuz-linux archisobasedir=arch-a archisosearchuuid=$mason_uuid script=/run/archiso/bootmnt/MASON-ARCH/start.sh
        initrd /arch-a/boot/x86_64/initramfs-linux.img
    fi
}

menuentry "Arch maintenance shell - no automatic installer" --class arch --id mason-shell {
    if [ "$mason_active_slot" = "b" ]; then
        linux /arch-b/boot/x86_64/vmlinuz-linux archisobasedir=arch-b archisosearchuuid=$mason_uuid
        initrd /arch-b/boot/x86_64/initramfs-linux.img
    else
        linux /arch-a/boot/x86_64/vmlinuz-linux archisobasedir=arch-a archisosearchuuid=$mason_uuid
        initrd /arch-a/boot/x86_64/initramfs-linux.img
    fi
}

if [ "$grub_platform" = "efi" ]; then
    menuentry "UEFI firmware settings" { fwsetup }
fi
menuentry "Restart" { reboot }
menuentry "Power off" { halt }
