[Desktop Entry]
Version=1.0
Type=Application
Name=Microsoft Edge
Comment=Browse the web
Exec=/usr/bin/microsoft-edge-stable %U
Terminal=false
StartupNotify=true
Icon=microsoft-edge
Categories=Network;WebBrowser;
MimeType=text/html;application/xhtml+xml;application/pdf;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/mailto;
