[Default Applications]
x-scheme-handler/http=edge.desktop;
x-scheme-handler/https=edge.desktop;
x-scheme-handler/mailto=edge.desktop;
text/html=edge.desktop;
application/xhtml+xml=edge.desktop;
application/pdf=edge.desktop;
inode/directory=thunar.desktop;
text/plain=org.xfce.mousepad.desktop;
text/markdown=org.xfce.mousepad.desktop;
application/json=visual-studio-code.desktop;
application/ld+json=visual-studio-code.desktop;
application/xml=visual-studio-code.desktop;
text/xml=visual-studio-code.desktop;
text/x-shellscript=visual-studio-code.desktop;
text/x-python=visual-studio-code.desktop;
text/x-csrc=visual-studio-code.desktop;
text/x-c++src=visual-studio-code.desktop;
text/x-csharp=visual-studio-code.desktop;
application/x-yaml=visual-studio-code.desktop;
image/jpeg=org.xfce.ristretto.desktop;
image/png=org.xfce.ristretto.desktop;
image/gif=org.xfce.ristretto.desktop;
image/webp=org.xfce.ristretto.desktop;
image/bmp=org.xfce.ristretto.desktop;
image/tiff=org.xfce.ristretto.desktop;
image/svg+xml=org.xfce.ristretto.desktop;
application/zip=org.gnome.FileRoller.desktop;
application/x-7z-compressed=org.gnome.FileRoller.desktop;
application/x-tar=org.gnome.FileRoller.desktop;
application/gzip=org.gnome.FileRoller.desktop;
application/x-bzip2=org.gnome.FileRoller.desktop;
application/x-xz=org.gnome.FileRoller.desktop;
application/vnd.rar=org.gnome.FileRoller.desktop;
audio/mpeg=mpv.desktop;
audio/mp4=mpv.desktop;
audio/x-m4a=mpv.desktop;
audio/flac=mpv.desktop;
audio/ogg=mpv.desktop;
audio/opus=mpv.desktop;
audio/x-wav=mpv.desktop;
video/mp4=mpv.desktop;
video/x-matroska=mpv.desktop;
video/webm=mpv.desktop;
video/x-msvideo=mpv.desktop;
video/quicktime=mpv.desktop;
video/mpeg=mpv.desktop;
application/ogg=mpv.desktop;

[Added Associations]
x-scheme-handler/http=edge.desktop;
x-scheme-handler/https=edge.desktop;
x-scheme-handler/mailto=edge.desktop;
text/html=edge.desktop;
application/pdf=edge.desktop;
inode/directory=thunar.desktop;
text/plain=org.xfce.mousepad.desktop;
application/json=visual-studio-code.desktop;
image/png=org.xfce.ristretto.desktop;
application/zip=org.gnome.FileRoller.desktop;
video/mp4=mpv.desktop;
